.big-container{
    display: flex;
    flex-direction: column;
    background-color: #639FE7;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 40px auto;
    border-radius: 6px;
  }
  .big-heading{
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
      }

  main > img {
    display: block;
    margin: 15px auto;
    width: 100%;
  }
  @media (max-width: 767px) {
    .big-heading{
      font-size: 15px;
    }
  }